.btn {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
}

h1 {
    font-size: 2em;
    margin: .67em 0;
    text-align: center;
}

html {
    text-align: center; 
}